#navbar {
  border-bottom: 1px solid rgb(206, 201, 201);
  background-color: white;
  display: flex;
  height: 70px;
  align-items: center;
  padding-left: 30px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #navbar {
    height: 55px;
  }
}
